{% extends "./base.html" %}

{% block title %} Editar plataforma {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md4 offset-md-">
            <h2>Editar plataforma:</h2>
                <div class="card">
                    <div class="card-body">
                        <form action="", method="POST">{% csrf_token %}
                            <div class="form-group py-2">
                                <input type="text" name="nombre" id="nombre" value="{{plataforma.nombre}}" class="form-control" placeholder="Título" required>
                            </div>
                            <div class="form-group py-2">
                                <button type="submit" class="btn btn-success">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}